#sub {
  position: relative;
  width: 1200px;
  min-height: 1020px;
  margin: 0 auto;
  overflow: hidden;
}
#sub > section {
  float: right;
  width: 985px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
#sub > section > nav {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}
#sub > section > nav > p {
  float: right;
  margin-top: 10px;
}
#sub > section > nav > h1 {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Noto Sans KR', dotum, sans-serif;
  padding: 0 0 7px;
  line-height: 1em;
}

#sub > section > section {
  width: 100%;
  box-sizing: border-box;
}

/* list페이지 */
#sub > .list > .sort {
  margin: 0 0 20px 0;
  border-bottom: 1px solid #dfdfdf;
  overflow: hidden;
}
#sub > .list > .sort > li {
  float: left;
  position: relative;
  padding: 15px 0;
  line-height: 15px;
}
#sub > .list > .sort > li > a {
  display: block;
  padding: 0 10px;
  border-right: 1px solid #ddd;
}

#sub > .list > section > article {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #ececec;
}

#sub > .list > section > article > ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#sub > .list > section > article > ul > li {
  position: relative;
  float: left;
  height: 100%;
  padding: 30px 10px;
  box-sizing: border-box;
}
#sub > .list > section > article > ul > li:nth-child(1) {width: 20%; padding: 0;}
#sub > .list > section > article > ul > li:nth-child(2) {width: 40%;}
#sub > .list > section > article > ul > li:nth-child(3) {width: 20%;}
#sub > .list > section > article > ul > li:nth-child(4) {width: 20%;}

#sub > .list > section > article .thumb {
  display: block;
  width: 100%;
  height: 100%;
}
#sub > .list > section > article .thumb > img { width: 100%; }

#sub > .list > section > article .name {
  font-size: 16px;
  font-family: 'Malgun Gothic', dotum, sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 6px;
}
#sub > .list > section > article .desc > a {
  font-size: 12px;
  font-family: '굴림';
  color: #333;
}

#sub > .list > section > article .desc > a:hover {
  text-decoration: underline;
}

#sub > .list > section > article .org_price {}
#sub > .list > section > article .org_price > del::after {content: "원";}
#sub > .list > section > article .org_price > ins::after {content: "원";}
#sub > .list > section > article .org_price > del {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  color: #aaa;
}
#sub > .list > section > article .org_price > span {
  color: #eb000a;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 10px;
}
#sub > .list > section > article .org_price > span::after { content: "↓"; }
#sub > .list > section > article .dis_price {}
#sub > .list > section > article .dis_price > ins {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  text-decoration: none;
}
#sub > .list > section > article .dis_price > ins::after { content: "원"; }
#sub > .list > section > article span.freeshipping {
  display: inline-block;
  font-size: 0;
  vertical-align: text-bottom;
  width: 55px;
  height: 13px;
  background: url('../img/ico_freeshipping.gif') no-repeat;
  margin-top: 4px;
}

#sub > .list > section > article .seller {
  color: #444;
  font-size: 12px;
  margin-bottom: 6px;
}

#sub > .list > section > article .rating {
  position: absolute;
  left: 10px;
  bottom: 30px;
}

#sub > .list > .paging {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

#sub > .list > .paging > .prev {}
#sub > .list > .paging > .next {}
#sub > .list > .paging > .num {}

#sub > .list > .paging > span > a {
  color: #777;
  font-family: "돋움", Dotum, Tahoma, sans-serif;
  font-size: 11px;
  letter-spacing: -1px;
}

#sub > .list > .paging > span > a:hover {
  text-decoration: underline;
}

#sub > .list > .paging > .num > a {
  display: inline-block;
  min-width: 14px;
  margin: 0 2px;
  padding: 8px 9px;
  border: 1px solid #c4c4c4;
  background: url() 0 0 repeat-x;
  color: #000;
  font-family: Tahoma;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
#sub > .list > .paging > .num > a:hover {
  border: 1px solid #454c5f;
  text-decoration: none;
}
#sub > .list > .paging > .num > a.on {
  color: #fe434c;
  font-weight: bold;
}

/* view : 제품주문상세페이지 */
#sub > .view {}
#sub > .view > section {
  margin-top: 10px;
}
#sub > .view > section > article {
  width: 100%;
  box-sizing: border-box;
}

#sub > .view > section > article:after {
    clear:both;
    display:block;
    content:'';
}

#sub > .view .info {}
#sub > .view .info > div {
  float: left;
  width: 50%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
#sub > .view .info > .image {

}
#sub > .view .info > .image > img {
  width: 100%;
}
#sub > .view .info > .summary * {
  font-family: 'Noto Sans KR', dotum, sans-serif;
}
#sub > .view .info > .summary > nav {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 12px;
  overflow: hidden;
}
#sub > .view .info > .summary > nav > h1 {
  float: left;
  color: #1e2732;
  font-weight: bold;
  font-size: 1.5em;
}
#sub > .view .info > .summary > nav > h2 {
  float: right;
  color: #777;
  margin-top: 8px;
}

#sub > .view .info > .summary > p {
  font-size: 18px;
  color: #474747;
  line-height: 36px;
  letter-spacing: -1px;
}
#sub > .view .info > .summary .rating > a {
  color: #346aff;
  font-family: 'Malgun Gothic', dotum, sans-serif;
  text-decoration: underline;
}

#sub > .view .info > .summary .org_price {}
#sub > .view .info > .summary .org_price > del::after {content: "원";}
#sub > .view .info > .summary .org_price > ins::after {content: "원";}
#sub > .view .info > .summary .org_price > del {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  color: #aaa;
}
#sub > .view .info > .summary .org_price > span {
  color: #eb000a;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  margin-left: 6px;
}
#sub > .view .info > .summary .org_price > span::after { content: "↓"; }
#sub > .view .info > .summary .dis_price {}
#sub > .view .info > .summary .dis_price > ins {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
}
#sub > .view .info > .summary .dis_price > ins::after { content: "원"; }

#sub > .view .info > .summary .delivery {
  font-size: 16px;
  color: #2e8de5;
}
#sub > .view .info > .summary .arrival {
  font-size: 14px;
  margin-left: 10px;
}
#sub > .view .info > .summary .desc {
  display: block;
  color: #aaa;
}


#sub > .view .info > .summary .card > i {
  display: inline-block;
  width: 30px;
  height: 18px;
  top: 4px;
  background-image: url('../img/sp_icon.png');
  font-size: 0;
  vertical-align: text-top;
  margin-right: 2px;
}

#sub > .view .info > .summary .cardfree > i { background-position: -126px 0; }
#sub > .view .info > .summary .cardadd  > i { background-position: -51px -21px; }
#sub > .view .info > .summary .origin { font-size: 16px;}
#sub > .view .info > .summary .banner { width: 100%;}

#sub > .view .info > .summary .option {
  position: relative;
  width: 100%;
  height: auto;
}
#sub > .view .info > .summary .option > strong {
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  color: #1e2732;
  margin-bottom: 6px;
}
#sub > .view .info > .summary .option button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 12px 15px 12px 15px;
  background: #fff;
  color: #233549;
  border: 1px solid #d6d7d8;
  border-bottom: 1px solid #2e8de5;
  cursor: pointer;
}

#sub > .view .info > .summary .option button > .txt {
  font-size: 16px;
}
#sub > .view .info > .summary .option button > .ico {
  float: right;
  display: block;
  width: 16px;
  height: 9px;
  margin-top: 10px;
  background-image: url('../img/sp_icon.png');
  background-position: -196px 0;
  font-size: 0;
}
#sub > .view .info > .summary .option > div {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

#sub > .view .info > .summary .option > div.disable {
  display: none;
}
#sub > .view .info > .summary .option > div.on {
  border: 1px solid #2e8de5;
  z-index: 100;
}

#sub > .view .info > .summary .option > div.on > button {
  border: none;
  background: #f8f9fa;
}
#sub > .view .info > .summary .option > div.on > button > .ico {
  background-position: -232px 0;
}
#sub > .view .info > .summary .option > div.on > ul {
  position: absolute;
  display: block;
  z-index: 100;
}

#sub > .view .info > .summary .option ul {
  display: none;
  width: 100%;
  max-height: 200px;
  background: #fff;
  border: 1px solid #2e8de5;
  border-top: none;
  border-radius: 0px;
  overflow: hidden;
  overflow-y: auto;
  margin-left: -1px;
}
#sub > .view .info > .summary .option ul > li {
  display: block;
  width: 100%;
  height: 43px;
  color: #000;
  line-height: 18px;
  letter-spacing: -0.87px;
  border-top: 1px solid #ececec;
}
#sub > .view .info > .summary .option ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 43px;
  padding-left: 14px;
  font-size: 14px;
}

#sub > .view .info > .summary .option ul > li > a:hover {
  color: #2e8de5;
  background: #f8fbff;
}

#sub > .view .info > .summary .items {
  width: 100%;
}
#sub > .view .info > .summary .items > ul {}
#sub > .view .info > .summary .items > ul > li {
  width: 100%;
  padding: 10px;
  background: #f9f9fa;
  border: 1px solid #f2f2f2;
  border-bottom: 1px solid #bec1c7;
  box-sizing: border-box;
}
#sub > .view .info > .summary .items > ul > li > div {
}
#sub > .view .info > .summary .items .title {
  border-bottom: 1px dotted #e2e2e3;
  overflow: hidden;
}
#sub > .view .info > .summary .items .title > p {
  float: left;
  font-size: 14px;
  color: #000;
}

#sub > .view .info > .summary .items button {
  border: none;
  font-size: 0;
  background-color: transparent;
  background-image: url('../img/sp_icon.png');
  cursor: pointer;
}
#sub > .view .info > .summary .items .title > button {
  float: right;
  width: 26px;
  height: 26px;
  background-position: -442px -122px;
}

#sub > .view .info > .summary .items .price {
  margin-top: 6px;
}
#sub > .view .info > .summary .items .price > span {}
#sub > .view .info > .summary .items .price > span > button {
  width: 21px;
  height: 21px;
  vertical-align: top;
}
#sub > .view .info > .summary .items .price > span > .decrease {
  background-position: 0 -74px;
}
#sub > .view .info > .summary .items .price > span > .increase {
  background-position: -48px -74px;
}
#sub > .view .info > .summary .items .price > span > input {
  width: 30px;
  height: 21px;
  border: 1px solid #ececec;
  line-height: 21px;
  color: #233549;
  font-size: 14px;
  text-align: center;
}
#sub > .view .info > .summary .items .price > ins {
  float: right;
  font-size: 16px;
  color: #111;
  text-decoration: none;
  font-family: 'Noto Sans KR', dotum, sans-serif;
}
#sub > .view .info > .summary .items .price > ins::after {
  content: "원";
}

#sub > .view .info > .summary .total {
  overflow: hidden;
  margin-top: 16px;
}
#sub > .view .info > .summary .total > em {
  float: right;
  display: block;
  width: 100px;
  height: 22px;
  padding: 10px 0 0;
  font-size: 16px;
  line-height: 22px;
  color: #5e636d;
  letter-spacing: -1px;
}
#sub > .view .info > .summary .total > span {
  float: right;
  display: inline-block;
  line-height: 38px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-align: right;
  letter-spacing: -0.5px;
}

#sub > .view .info > .summary .total > span::after {
  content: "원";
}

#sub > .view .info > .summary > .btns {
  overflow: hidden;
  margin-top: 16px;
}

#sub > .view .info > .summary > .btns > button {
  float: left;
  width: 49%;
  height: 50px;
  margin: 2px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}
#sub > .view .info > .summary > .btns > .cart {
  background: #fff;
  border: 1px solid #d9d9d9;
  color: #233549;
}
#sub > .view .info > .summary > .btns > .order {
  background: #2e8de5;
  border: 1px solid #217fd7;
  color: #fff;
}

#sub > .view .notice {}
#sub > .view article > nav {
    border-bottom: 1px solid #a4a9b0;
    padding: 6px 0;
    margin-bottom: 12px;
    overflow: hidden;
}

#sub > .view article > nav > h1 {
  float: left;
  font-family: 'Noto Sans KR', dotum, sans-serif;
  color: #1e2732;
  font-weight: bold;
  font-size: 1.5em;
}

#sub > .view article > nav > p {
  float: left;
  color: #777;
  font-family: 'Noto Sans KR', dotum, sans-serif;
  margin-top: 6px;
  margin-left: 6px;
}

#sub > .view .notice > table {
  width: 100%;
}
#sub > .view .notice > table:nth-of-type(2) {
  border-top: 1px solid #ececec;
}
#sub > .view .notice > table tr > td {
  padding: 5px 0 6px 21px;
  font-size: 14px;
  color: #777;
  font-family: 'Noto Sans KR', dotum, sans-serif;
}

#sub > .view .notice > table tr > td:nth-child(1) {
  width: 20%;
  color: #222;
}
#sub > .view .notice > table tr > td:nth-child(2) {}
#sub > .view .notice > .notice {

  margin: 20px 0;
  padding: 21px 26px 20px 19px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Noto Sans KR', dotum, sans-serif;
  color: #757c8a;
  background: #fafafa;
  border-radius: 2px;
}

#sub > .view .review * {
  font-family: 'Noto Sans KR', dotum, sans-serif;
}
#sub > .view .review > ul {
  padding: 10px;
  box-sizing: border-box;
}
#sub > .view .review > ul > li {
  padding-top: 16px;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}
#sub > .view .review > ul > li > div {
  overflow: hidden;
}
#sub > .view .review > ul > li > div > h5 {
  float: left;
}

#sub > .view .review > ul > li > div > span {
  float: right;
  color: #555;
}
#sub > .view .review > ul > li > h3 {
  color: #555;
  margin-top: 6px;
}
#sub > .view .review > ul > li > p {
  width: 100%;
  height: 60px;
  color: #555;
  font-size: 14px;
  line-height: 19px;
  word-break: break-all;
  word-wrap: break-word;
  margin-top: 10px;
}

#sub > .view .review > .paging {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

#sub > .view .review > .paging > .prev {}
#sub > .view .review > .paging > .next {}
#sub > .view .review > .paging > .num {}

#sub > .view .review > .paging > span > a {
  color: #777;
  font-family: "돋움", Dotum, Tahoma, sans-serif;
  font-size: 11px;
  letter-spacing: -1px;
}

#sub > .view .review > .paging > span > a:hover {
  text-decoration: underline;
}

#sub > .view .review > .paging > .num > a {
  display: inline-block;
  min-width: 14px;
  margin: 0 2px;
  padding: 8px 9px;
  border: 1px solid #c4c4c4;
  background: url() 0 0 repeat-x;
  color: #000;
  font-family: Tahoma;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
#sub > .view .review > .paging > .num > a:hover {
  border: 1px solid #454c5f;
  text-decoration: none;
}
#sub > .view .review > .paging > .num > a.on {
  color: #fe434c;
  font-weight: bold;
}

/* 상품검색 페이지 */
#sub > .search {}

#sub > .search > .detail_search {
  width: 100%;
  margin: 16px 0 0;
  border: 1px solid #d7d7d7;
}
#sub > .search > .detail_search * {
  font-family: 'Noto Sans KR', sans-serif;
}

#sub > .search > .detail_search > h3 {
  border-bottom: 1px solid #d7d7d7;
  color: #111;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  padding: 10px 15px;
}

#sub > .search > .detail_search > h3 > strong {
  color: #d50c0d;
  font-size: 18px;
  margin-right: 6px;
}
#sub > .search > .detail_search > h3 > em {color: #888; font-size: 14px;}
#sub > .search > .detail_search > h3 span {color: #d50c0d;}

#sub > .search > .detail_search > form {
  border-bottom: 1px solid #d7d7d7;
  padding: 10px 15px;
}
#sub > .search > .detail_search > form > input[type=text] {
  height: 30px;
  border: 1px solid #bbb;
  padding: 0 10px;
}

#sub > .search > .detail_search > form > input[type=submit] {
  height: 32px;
  padding: 0 5px;
  font-weight: bold;
  font-family: 'Malgun Gothic', dotum, sans-serif;
  background: #d50c0c;
  color: #fff;
  border: 0;
}
#sub > .search > .detail_search > form > span {
  float: right;
  margin-top: 0px;
}
#sub > .search > .detail_search > form > span > label {
  margin-right: 10px;
}

#sub > .search > .detail_search > form > span > input {
  width: 100px;
  height: 30px;
  border: 1px solid #bbb;
  padding: 0 10px;
}

#sub > .search > .detail_search > .info {
  padding: 15px;
  background: #f5f5f5;
  color: #737373;
}


#sub > .search > .sort {
  margin: 0 0 20px 0;
  border-bottom: 1px solid #dfdfdf;
  overflow: hidden;
}
#sub > .search > .sort > li {
  float: left;
  position: relative;
  padding: 15px 0;
  line-height: 15px;
}
#sub > .search > .sort > li > a {
  display: block;
  padding: 0 10px;
  border-right: 1px solid #ddd;
}

#sub > .search > section > article {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #ececec;
}

#sub > .search > section > article > ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#sub > .search > section > article > ul > li {
  position: relative;
  float: left;
  height: 100%;
  padding: 30px 10px;
  box-sizing: border-box;
}
#sub > .search > section > article > ul > li:nth-child(1) {width: 20%; padding: 0;}
#sub > .search > section > article > ul > li:nth-child(2) {width: 40%;}
#sub > .search > section > article > ul > li:nth-child(3) {width: 20%;}
#sub > .search > section > article > ul > li:nth-child(4) {width: 20%;}

#sub > .search > section > article .thumb {
  display: block;
  width: 100%;
  height: 100%;
}
#sub > .search > section > article .thumb > img { width: 100%; }

#sub > .search > section > article .name {
  font-size: 16px;
  font-family: 'Malgun Gothic', dotum, sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 6px;
}
#sub > .search > section > article .desc > a {
  font-size: 12px;
  font-family: '굴림';
  color: #333;
}

#sub > .search > section > article .desc > a:hover {
  text-decoration: underline;
}

#sub > .search > section > article .org_price {}
#sub > .search > section > article .org_price > del::after {content: "원";}
#sub > .search > section > article .org_price > ins::after {content: "원";}
#sub > .search > section > article .org_price > del {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  color: #aaa;
}
#sub > .search > section > article .org_price > span {
  color: #eb000a;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 10px;
}
#sub > .search > section > article .org_price > span::after { content: "↓"; }
#sub > .search > section > article .dis_price {}
#sub > .search > section > article .dis_price > ins {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  text-decoration: none;
}
#sub > .search > section > article .dis_price > ins::after { content: "원"; }
#sub > .search > section > article span.freeshipping {
  display: inline-block;
  font-size: 0;
  vertical-align: text-bottom;
  width: 55px;
  height: 13px;
  background: url('../img/ico_freeshipping.gif') no-repeat;
  margin-top: 4px;
}

#sub > .search > section > article .seller {
  color: #444;
  font-size: 12px;
  margin-bottom: 6px;
}

#sub > .search > section > article .rating {
  position: absolute;
  left: 10px;
  bottom: 30px;
}

#sub > .search > .paging {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

#sub > .search > .paging > .prev {}
#sub > .search > .paging > .next {}
#sub > .search > .paging > .num {}

#sub > .search > .paging > span > a {
  color: #777;
  font-family: "돋움", Dotum, Tahoma, sans-serif;
  font-size: 11px;
  letter-spacing: -1px;
}

#sub > .search > .paging > span > a:hover {
  text-decoration: underline;
}

#sub > .search > .paging > .num > a {
  display: inline-block;
  min-width: 14px;
  margin: 0 2px;
  padding: 8px 9px;
  border: 1px solid #c4c4c4;
  background: url() 0 0 repeat-x;
  color: #000;
  font-family: Tahoma;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
#sub > .search > .paging > .num > a:hover {
  border: 1px solid #454c5f;
  text-decoration: none;
}
#sub > .search > .paging > .num > a.on {
  color: #fe434c;
  font-weight: bold;
}

/* 장바구니 */
#sub > .cart {}
#sub > .cart form > input[name=del] {
  border-color: #bdbdbd;
  border-bottom-color: #828282;
  background: #fafafa;
  color: #4d4d4d;
  padding: 6px 11px;
  border-width: 1px;
  margin-top: 6px;
}
#sub > .cart form > table {
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
}
#sub > .cart form > table th {
  padding: 12px 0;
  border-top: 2px solid #000;
  border-bottom: 1px solid #d3d3d3;
  background: #fff;
  color: #383838;
  font-size: 0.95em;
  text-align: center;
  letter-spacing: -0.1em;
}
#sub > .cart form > table tbody {}

#sub > .cart form > table .empty {
  display: none;
}
#sub > .cart form > table .empty td {
  padding: 50px 0 !important;
  text-align: center;
  color: #777 !important;
}
#sub > .cart form > table td {
  text-align: center;
}
#sub > .cart form > table th:first-child {
  width: 60px;
}
#sub > .cart form > table td:first-child {
  width: 60px;
}

#sub > .cart form > table td:last-child {
  color:#ff006c;
  font-weight: bold;
}
#sub > .cart form > table td > article {
  overflow: hidden;
}
#sub > .cart form > table td > article > a {
  float: left;
  display: inline-block;
}
#sub > .cart form > table td > article > div {
  float: left;
  margin-top: 10px;
}
#sub > .cart form > table td > article > div a {
  font-size: 15px;
  font-family: 'Malgun Gothic', dotum, sans-serif;
}
#sub > .cart form > table td > article > div > p {
  text-align: left;
  color: #777;
  margin-top: 4px;
}
#sub > .cart form > table article img {width: 80px;}
#sub > .cart > .order {
  float: right;
  width: 360px;
  height: 412px;
  padding: 20px;
  background: #fff;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
}

#sub > .cart > .order * {
  font-family: 'Noto Sans KR', sans-serif;
}


#sub > .cart > .order > h2 {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #111;
  margin-bottom: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  color: #1e1e1e;
}
#sub > .cart > .order > table {
  width: 100%;
}

#sub > .cart > .order > table tr {}
#sub > .cart > .order > table tr:nth-last-child(2) {}
#sub > .cart > .order > table tr:nth-last-child(2) td {
  font-size: 20px;
}
#sub > .cart > .order > table tr:nth-last-child(2) td:last-child {
  color: #ff006c;
  font-weight: bold;
}

#sub > .cart > .order > table td {
  padding: 10px 0;
  font-size: 14px;
  color: #555;
}
#sub > .cart > .order > table td:last-child {
  text-align: right;
}
#sub > .cart > .order > input[type=button] {
  width: 100%;
  height: 56px;
  font-size: 26px;
  border-width: 1px;
  border-color: #d81818;
  border-bottom-color: #9e1212;
  background: #ed2f2f;
  background-image: linear-gradient(#ed2f2f, #dd0e0e);
  background-image: -webkit-linear-gradient(#ed2f2f, #dd0e0e);
  color: #fff;
  box-sizing: border-box;
  margin-top: 10px;
}
